<div class="pop-up">
  <div class="pop-up__wrap">
    <div class="pop-up__header">
      <h4 class="pop-up__title">{{modal.title}}</h4>
      <a class="pop-up__close" href="#"><img src="assets/images/close.svg" alt=""></a>
    </div>
    <div class="pop-up__body">
      <p>{{modal.message}}</p>
    </div>
    <div class="pop-up__footer {{#if modal.isprompt }}is-half{{/if}}">
    
      {{#if modal.isprompt }}
        {{#each modal.buttons }}
          <a class="pop-up__button {{this.class}}" href="#">{{this.caption}}</a>
        {{/each}}
      {{else}}
          <a class="pop-up__button pop-up__exit" href="#">Go Back</a>
      {{/if}}
    </div>
  </div>
</div>