<div class="result-page result-page--{{player.result}}">
  <h1 class="result-page__title">{{player.status}}</h1>
  <div class="result-page main-player" data-id="b">
    <img class="main-player__avatar" src="assets/images/player-1.png" alt="">
    <div class="main-player__details ribbon-content">
      <h4 class="main-player__name ">{{player.me.badge}}</h4>
      <!--          <span class="result-page__badge">Magaling</span>-->
      <span class="main-player__score">{{player.me.score}} POINTS</span>
    </div>
  </div>
  <div class="result-page opponent">
    <div class="opponent__text">
      <p>OPPONENT</p>
      <p>DETAILS</p>
    </div>
    <img class="opponent__avatar" src="assets/images/player-1.png" alt="">
    <div class="opponent__level-points">
      <p>LEVEL: {{player.opponent.badge}}</p>
      <p>{{player.opponent.score}} POINTS</p>
    </div>
  </div>

  <div class="result-page__list">
    <button class="game-button result-page__button game-button--light-blue">Rematch</button>
    <button class="game-button result-page__button game-button--blue-green">Another Opponent</button>
    <button class="game-button result-page__button game-button--red ">Leave</button>
  </div>
</div>